<div id="user_profile" class="flex user">
  <img id="<%= dom_id user %>" src=<%= user.photo %> alt="avatar">
  <div class="flex info">
    <strong><%= user.name %></strong>
    <span class="flex counter">Number of posts: <%= user.posts_counter %></span>
  </div>
</div>
